html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
        font-family: 'Italiana', serif;

    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
}

p {
    font-family:'Lato';
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 5rem;
    font-family: 'Italiana';
    font-weight: 400;
    text-transform: uppercase;
}

.btn {
    padding: 5px 7px;
    border: 1px solid #FABA63; 
    color: #fff;
    text-decoration: none;
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.9rem;
}

/* .hero {
    
    width: 100%;
    height: auto;
} */

header {
    background-image: url(./assets/header-2.jpg);
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 630px;
    overflow: hidden;
    position: relative;
}



.navbar a li {
    float: left;
    list-style: none;
    margin-left: 60px;
    color: #FABA63;
    font-size: 2rem;
    line-height: 29px;
    font-family:'Lato';
    font-weight: 400;
}

.navbar {
    position: absolute;
    z-index: 20;
}

/* .hero img {
    background-image: url(./assets/header-2.jpg);
    float: right;
    width: 100%;
    position: relative;
    z-index: 10;
    
} */

.hero-text {
    width: 100%;
}

.hero-text h1 {
    position: absolute;
    color: #fff;
    font-family: 'Italiana';
    font-weight: 400;
    top: 15%;
    left: 17%;
    font-size: 12rem;
    z-index: 30;
    line-height: 10rem;
    text-transform: uppercase;
}




.second-text {
    display: block;
    margin-left: 65%;
    
}

.third-text {
    display: block;
    font-size: 3.5rem;
    color: #FABA63;
    margin-left: 71%;
    line-height: 4rem;
    font-family: 'lato';
    font-weight: 300;
    text-transform: capitalize;;
} 

header ul.social {
    width: 1%;
    list-style: none;
    position: absolute;
    top: 73%;
    /* bottom: 15%; */
    left: 93%;
    z-index: 100;
    margin: 0 auto; 
}

.social-icon {
    color: #fff;
    padding: 5px;
    font-size: 2rem;
} 


.hand-crafted {
    margin-top: 0%;
    background-color: #14171F;
    padding: 5% 7% 5%;
}

.craft-info img.img-hands {
    float: left;
    width: 32%;
    height: auto;
    margin-right: 5%;
    margin-top: .5%;
    
}

.hand-craft-text {
    /* width: 100%; */
    /* padding: 5%; */
    padding-top: 0;
    padding-bottom: 5%;
    margin-left: 30%;
}

.hand-craft-text h3 {
    margin-top: 2%;
margin-bottom: 2%;
}



.hand-craft-text p {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10%;
     
}  



.jewels {
    background-color: #201E21;
    padding: 5% 7% 5%;
}

.jewels h3 {
    text-align: center;
}

.jewel-collection {
    margin-left: auto;
    margin-right: auto;
}

.jewel-collection img {
    width: 23%;
    height: 23%;
    float: left;
    margin-left: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
}


.banner {
    margin-top: 0;
}

.fav-icons {
    background-color: #14171f;
    margin-top: 0;
    padding: 5%;
}

.gold-one {
    font-size: 8rem;
    color: #FABA63;
    float: left;
    list-style: none;
    margin-left: 17%;
    /* padding-right: 7%; */
}

/* .font-icon {
    margin-left: 30%;
} */

.font-icon i {
    font-size: 7rem;
    padding-left: 25%;
}

/* .gold-one i.second */


.font-icon a {
    text-decoration: none;
}

.font-icon h3 {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 2.5rem;
}

.font-icon h3.second {
    padding-left: 15px;
}


.sustain-material {
    margin-top: 0%;
    background-color: #201E21;
}

.img-necklace {
    left: 50%;
    width: 50%;
    height: auto;
    float: right;
}

.sustain-text {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 55%;
}

.sustain-info {
    float: left;
    margin-top: 0;
}

.sustain-info h3,
.mix-match-info h3 {
    margin-bottom: 0;
}
.sustain-info p,
.mix-match-info p {
    margin-top: 0;
    margin-bottom: 10%;
}

.img-ring {
    float: left;
    width: 50%;
    height: auto;
    /* margin-top: 7%; */
    
}

.mix-match-info {
    width: 100%;
    float: right;
    margin-top: 0;
}

.mix-match-text{
    padding: 5%;
    margin-left: 50%;
}

footer {
    width: 100%;
    background-color: #201E21;
    color: #fff;
    padding: 5%;
    margin-top: 0;
}

.nav-end {
    float: left;
    width: 10%;
}

.navbar-end a{
    text-decoration: none;
}


.navbar-end a li {
    list-style: none;
    margin-top: 12px;
    color: #FFF;
    font-size: 2rem;
    line-height: 12px;
    font-family:'Italiana';
    font-weight: 400;
    border: 0;
}


.update-info {
    margin-left: 15%;
    float: left;
    width: 50%;
}


.contact-info {
text-align: right;
margin-left: 5%;
max-width: 94%;
}




.update-info h3,
.contact-info h3 {
    margin-bottom: 1px;
    margin-left: 150px;
    font-size: 2.5rem;
    font-weight: 300;
}

.contact-info h3 {
    margin-left: 66%;
}

.update-info p,
.contact-info p {
    margin-top: 2%;
    font-size: 2rem;
    font-family: 'lato';
    font-weight: 300;
    line-height: 9px;
}



form input[type="email"] {
    width: 75%;
    height: 35px;
    font-size: 2rem;
    padding-left: 10px;
}


.btn-sub {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 7px;
    text-decoration: none;
    font-family: 'Italiana';
    font-weight: 400;
    line-height: 3.8rem;
    /* background-color: red; */
}

.rights p {
    background-color: #14171F;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}



/* Media Queries for responsiveness */


/* Media query for Ipad Pro (12.9 inch) landscape */

@media  (min-width:1281px) and (max-width:1466px) {
    header {
        height: 630px;
    }
   header ul.social {
        top: 73%;
    }

}



@media (max-width: 1263px){
    .hand-craft-text p {
    margin-bottom: 6%;
}
}

@media (min-width: 950px) and (max-width:1255px) {
    .contact-info p{
        font-size: 1.5rem;
    }

 } 

@media (min-width:1000px) and (max-width:1190px) {
    
    .hero-text {
        left: 15%;
    }


    .mix-match-text {
        margin-top: -18px;
    }

}

 @media (max-width:1114px) {

    .hand-craft-text a.btn{
        margin-left: 10%;
    }
  
} 

@media (max-width: 1100px) {
    .fav-icons {
        padding-left: 0px;
    }
}

@media (max-width:1060px) {
    .sustain-info,
    .img-necklace,
    .mix-match-info,
    .img-ring {
        float: none;
    }

    .img-necklace,
    .img-ring {
        margin-left: 23%;
        padding-top: 5%;
    }

    .sustain-text,
    .mix-match-text {
        padding:5%;
        margin-left: 14%;
        margin-right: 5%;
    }

    .mix-match-text h3 {
        margin-left: 20%;
    }

    .sustain-text a.btn,
    .mix-match-text a.btn {
        margin-left: 28%;
    }

    .img-ring {
        width: 51%;
    }
}

@media (max-width: 1014px) {
    .hand-craft-text p {
        margin-left: 10%;
    }

    /* .sustain-info p, */
    .mix-match-text p {
        margin-bottom: 5%;
    }
}

@media (max-width: 1000px) {
    header ul.social {
    width: 50%;
    top: 92%;
    left: 84%;
}

.social-icon{
    float: left;
}
   /* .sustain-info h3, */
    .mix-match-text h3 {
        margin-top: 5%;
    }
}


@media (max-width: 980px) {
    /* .sustain-info h3, */
    .mix-match-text h3 {
        margin-top: 0;
    }
}


@media (max-width: 950px) {
    header ul.social {
        left: 80%;
    }

    .craft-info img.img-hands {
    float: none;
    width: 54%;
    margin-left: 24%;
}
    .hand-craft-text {
        margin: 0 auto;
    }

    .hand-craft-text h3 {
        margin-left: 30%;
    }
    .hand-craft-text a.btn {
    margin-left: 38%;
}

  .fav-icons ul {
        padding-left: 0px;
    }

    .nav-end {
        float: none;
        width: 100%;
    }

    .navbar-end a {
        float: left;
        padding: 5%;
        /* margin-bottom: 3%; */
    }

    .update-info {
        float: none;
        margin-top: 15%;
        margin-left: 22%;
         /* background-color: red; */
    }

    .update-info h3 {
        margin-left: 28%;
        padding-top: 5%;
        margin-bottom: 10%;
    }

    .update-info p {
        margin-left: 5%;
    }

    .contact-info {
        text-align: center;
        margin-top: 5%;
        margin-left: 0%;
        padding-right: 30px;
    }
    .contact-info h3 {
        margin-left: 0;
    }

    .rights p{
        padding-right: 19%;
    }

    

    form input[type="email"] {
        margin-left: 0%;
    margin-right: 2%;
    width: 100%;
}

.btn-sub {
    padding-left:20%;
    padding-right: 20%;
    margin-left:12%;
    line-height: 10rem;
    font-size: 3rem;

}

.rights p {
    padding-left: 9%;
}


@media (max-width: 895px) {
    .gold-one {
        margin-left: 15%;
    }

    .navbar {
        display: none;
    }

    .hero-text h1 {
        left: 8%;
    }

    .update-info p {
        font-size: 1.5rem;
        margin-left: 1%;
    }

}  

}

@media (max-width: 800px) {
    .craft-info  img.img-hands {
        margin-left: 27%;
        margin-right: 0;
    }

    .gold-one {
        float: none;
    }

    /* .update-info p {
        font-size: 1.8rem;
        margin-left: 2%;
    } */

    .fav-icons {
        padding-left: 12%;
    }

    .font-icon h3 {
        padding-left: 19%;
    }

    .font-icon h3.second {
        padding-left: 25%;
    }

    .font-icon i.second-icon {
        margin-left: 9px;
    }

@media (max-width:784px) {

    .social a li {
        display: none;
    }
    .hand-craft-text h3,
    .sustain-text h3,
    .mix-match-text h3 {
        font-size: 3rem;
        margin-bottom: 5%;
    }

    .craft-info img.img-hands,
    .img-necklace,
    .img-ring {
        display: block;
        width: 100%;
margin: 0 auto;
    }

    .update-info p {
        font-size: 1.3rem;
        margin-left: 2%;
    }
}
   
}

@media (max-width: 630px) {
    .hero-text h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .third-text {
        font-size: 2.5rem;
        margin-left: 56%;
    }

    .hand-craft-text h3 {
        margin-left: 23%;
    }

    .contact-info {
        margin-left: 5%;
    }

    .rights p {
        padding-left: 20%;
    }
}

